.form-container {
    min-height: 250px;
    // background: #000000;
    padding: 3px;
    // border: 1px solid #cecece;
    box-sizing: border-box;

    .form-title {
        padding: 10px;
        line-height: 14px;
        font-weight: bold;
    }
    
    .form-container-background {
        min-height: 250px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 5%, transparent 0), linear-gradient(rgba(255, 255, 255, 0.1) 5%, transparent 0);
        background-size: 15px 15px;

        .search-form-container {
            display: flex;
            flex-wrap: wrap;
        }
        
        // 非searchForm 下，antd 组件样式
        .nomall-form-wrapper{
            .component-container, .component-container-active{
                .ant-form-item-control .ant-form-item-control-input .ant-form-item-control-input-content .ant-input,
                .ant-form-item-control-input .ant-form-item-control-input-content .ant-input-group-wrapper, .ant-input-group,
                .ant-form-item-control .ant-form-item-control-input .ant-form-item-control-input-content .ant-select,
                .ant-form-item-control .ant-form-item-control-input .ant-form-item-control-input-content .ant-input-number
                {
                    width: 300px;
                }
            }
        }
        // .form-item-container {
        //     position: relative;
        //     background: rgba(255, 255, 255, .3);
        //     box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
        //     padding: 4px;
        //     margin: 4px;

        //     &::before {
        //         content: '';
        //         position: absolute;
        //         top: 0;
        //         bottom: 0;
        //         left: 0;
        //         right: 0;
        //         filter: blur(20px);
        //         z-index: -1;
        //         // margin: -30px;
        //     }
        // }
    }

    .modal-actions {
        text-align: right;
    }
}
