.component-container {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 5px 5px 5px;
    position: relative;
    border: 1px solid rgba(255,255,255,.6);
    margin: 10px 0;

    &:hover {
        border: dashed 1px lightgray;
    }

    .close_item{
        display:inline-block;
        border:1px solid #fff;
        border-radius: 50%;
        width:20px;
        height: 20px;
        position: absolute;
        top:-10px;
        right: -10px;
        text-align: center;
        line-height: 20px;
    }
}