@import 'Src/styles/common.scss';
.workspace {
    background: $bg-1;
    height: 100vh;
    color: $color-primary;
    user-select: none;

    .workspace-header {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        position: relative;
        height: 50px;

        .workspace-header-logo {
            position: absolute;
            right: 0;
        }

        .workspace-header-project-name {
            text-align: center;
            font-size: 16px;
            line-height: 50px;
            height: 50px;
            padding: 0 10px;
            
            position: relative;
        }

        .workspace-header-tools {
            padding: 0 10px;
            font-size: 20px;
            line-height: 50px;
        }
    }
}