.col-container {
    min-height: 250px;
    padding: 3px;
    box-sizing: border-box;

    .col-title {
        padding: 10px;
        line-height: 14px;
        font-weight: bold;
    }
    
    .col-container-background {
        min-height: 250px;
        background: linear-gradient(rgba(255, 255, 255, 0.1) 5%, transparent 0);
        background-size: 15px 15px;
    }
}
