@import '../../../../../styles/common.scss';
.thanos-editor-bar-drawar {
    width: 300px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    height: 100%;
    background: $bg-1;
    z-index: 5;
    padding: 10px;
}

@-webkit-keyframes showBlock {
    0% {
        display: block;
        left: 0px;
    }

    100% {
        left: 100%;
    }
}