@import '../../styles/common.scss';
.header-button {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    cursor: pointer;

    // &:hover {
    //     background: $bg-2;
    // }

    &.disabled {
        color: $color-desc;
    }
    
    &.disabled:hover {
        background: inherit;
        cursor: inherit;
    }
}