/* 背景颜色 */
$bg-1: rgba(29, 28, 42, 1);
// $bg-1: #23232e;

$bg-2: #30303d;
$bg-3: #383849;


/* 字体颜色 */
$color-primary: rgba(255, 255, 255, 1);
$color-sub-title: rgba(202, 202, 213, 1);
$color-desc: rgba(110, 110, 126, 1);
