/* 背景颜色 */
$bg-1: rgba(29, 28, 42, 1);
// $bg-1: #23232e;

$bg-2: rgba(36, 35, 49, 1);
$bg-3: rgba(41, 41, 55, 1);

/* 字体颜色 */
$color-primary: rgba(255, 255, 255, 1);
$color-sub-title: rgba(202, 202, 213, 1);
$color-desc: rgba(110, 110, 126, 1);
