@import './reset.scss';
@import './common.scss';

body {
    background: $bg-1;
}

.mar-l-4 {
    margin-left: 4px;
}

.mar-l-16 {
    margin-left: 16px;
}

.react-sortable-drop-container {
    min-height: inherit;
    height: 100%;
}