.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.modal-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
}

.modal-wrapper {
    z-index: 1;
    position: absolute;
    width: 600px;
    // height: 550px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -275px;
    background: #fff;
    display: flex;
    flex-direction: column;

    .modal-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        // height: 50px;
        background: #343537;
        color: #fff;
        padding: 5px;
    }

    .modal-content {
        padding: 5px;
    }

    .modal-bottom-toolbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 50px;
        background: #343537;
        color: #fff;
        padding-right: 12px;

        .btn-cancel {
            background: #fff;
            border: 1px solid #fff;
            color: #000;
        }

        .btn-confirm {
            background: #1890ff;
            border: 1px solid #1890ff;
            color: #fff;
        }
    }
}