.kssearchform {
    .more {
        margin-right: 5px;
    }

    .extend {
        height: 0;
        overflow-y: hidden;
    }

    .hide-item {
        height: 0;
        overflow-y: hidden;
        margin-bottom: 0;
    }
}
