.form-container {
    min-height: 250px;
    background: #fff;

    .form-title {
        padding: 10px;
        line-height: 14px;
        font-weight: bold;
    }
    
    .form-container-background {
        min-height: 250px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 5%, transparent 0), linear-gradient(rgba(0, 0, 0, 0.1) 5%, transparent 0);
        background-size: 15px 15px;
    }
}
