.thanos-editor-block-item {
    // flex: 1;
    width:134px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.6);
    margin-right: 5px;
    margin-bottom: 5px;

    .thanos-editor-block-shortscreen {
        border: 1px solid #000;    
    }

    .thanos-editor-block-title {
        text-align: center;
        color:rgba(255,255,255,.6);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}