@import '../../styles/common.scss';
.thanos-editor-container {
    .thanos-editor-header {
        height: 50px;
        line-height: 50px;
        background: $bg-1;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        
        .thanos-editor-logo {
            float: left;
            line-height: 50px;
            height: 50px;
        }

        .thanos-editor-actions {
            float: right;

            .thanos-editor-primary {
                background: #1890ff;

                &:hover {
                    background: #40a9ff;
                }
            }
        }
        
        .thanos-editor-back {
            float: left;
            padding: 0 10px;
            font-size: 20px;
            line-height: 50px;
        }
    }
    .thanos-editor-content {
        display: flex;
        flex-direction: row;
        height: calc(100vh - 50px);
        overflow: auto;

        .thanos-editor-draw {
            flex: 1;
            background: $bg-1;
            height: 100%;
            border: 1px solid #000;
            border-top: none;
            box-sizing: border-box;
            padding: 8px 10px;
            position: relative;

            .thanos-editor-empty{
                position: absolute;
                width: calc(100% - 20px);
                top: 8px;
                left: 10px;
                border-radius: 5px;
                color:#fff;
                padding: 10px;
                text-align: center;
            }
        }

        .thanos-editor-property {
            width: 300px;
            background: $bg-1;
            padding: 8px;
            height: 100%;

            .ant-row.ant-form-item {
                margin-bottom: 8px;
            }
        }
    }
}