@import '../../styles/common.scss';
.thanos-editor-container {
    .thanos-editor-header {
        height: 50px;
        background: $bg-1;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        
        .thanos-editor-logo {
            float: left;
            line-height: 50px;
            height: 50px;
        }

        .thanos-editor-actions {
            float: right;

            .thanos-editor-primary {
                background: #1890ff;

                &:hover {
                    background: #40a9ff;
                }
            }
        }
        
        .thanos-editor-back {
            float: left;
            padding: 0 10px;
        }
    }
    .thanos-editor-content {
        display: flex;
        flex-direction: row;
        height: calc(100vh - 50px);
        overflow: auto;

        .thanos-editor-page {
            flex: 1;
            background: #ffffff;
            height: 100%;
            border: 1px solid #000;
            box-sizing: border-box;
        }

        .thanos-editor-form {
            width: 300px;
            background: $bg-1;
            height: 100%;
        }
    }
}